# Ignore everything without an extension.
*
!*.*
!*/

# Don't ignore makefiles.
!makefile
!Makefile

# Don't ignore license files.
!LICENSE

# Ignore .txt files.
*.txt
!requirements.txt

# Ignore claude directory.
*.claude/

# Ignore Python cache.
*__pycache__/

# Ignore vscode directory.
*vscode/
*vs/
